{{define "body"}}
Password Reset
 
Your request link to reset your password

Click below to get started reseting your password

{{.Link}}

This link expires in 60 minutes. 
      
GO Classifieds 2021
{{end}}