<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password reset</title>
</head>
<body>
    <h1>Click the link bellow to enter the code to reset your password</h1>
    <p><a href="{{.link}}">Reset Password</a></p>
    <p>{{.code}}</p>
</body>
</html>