{{define "body"}}
    <!doctype html>
    <html>
        <head>
            <meta name="viewport" content="width=device-width"/>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF=8" />
        </head>

        <body>
            <p>Password Reset</p>
            <p>Your request link to reset your password</p>
            <p>Click below to get started reseting your password</p>
            <p><a href="{{.Link}}">{{.Link}}</a></p>
            <br>
            <p>This link expires in 60 minutes.</p>
            <br>  
            <p>-----------------
            GO Classifieds 2021
            </p>
        </body>
    </html>
{{end}}